aiohttp
aiosignal
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
huggingface-hub
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
langchain
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
mysql-connector-python
mysqlclient
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas
Pillow
protobuf
pyarrow
pydantic
pydeck
Pygments
Pympler
PyPDF2
python-dateutil
python-docx
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
SQLAlchemy
streamlit
streamlit-chat
sympy
tenacity
threadpoolctl
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
